# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / dependency files
env.yaml
environment.yml
*.egg-info/

# Logs
*.log

# Byte-compiled / cache
*.pyc
